# GCC outputs
*.o
*.so

# object directory and scratch directory
obj/
tmp/

# JetBrains IDE junk
.idea

# Valgrind outputs
massif.out.*

# ./configure output
/config.onpush
/config.full
/Makefile

# library files
lib
